<div class="page-header">
  <h1>Product Catalog</h1>
</div>


<% @product_list.each do |product| %> <!-- repeats the div below based on count (each) in the array -->

<div class="row">

    <div class="col-md-4">
      <a href="/products/show"><img width = "200" src="<%= product.image_url %>"></a>
      <!-- product[:image_ur] or product.image_url -->
    </div>
    <div class="col-md-8">
      <h3><a href="/products/show"><%= product.name %></a></h3> <!-- This is how you reference a variable within the hash -->
      <p><%= product.description %></p>
    </div>
  </div>
<% end %>
